@page
@model MigrationTester.Pages.RoleTest.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Roles and their tests</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Role
            </th>
               <th>
                Procedure
            </th>
            <th>
                Task
            </th>
              <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestRole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Test.Procedure.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.TaskName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Test.Action)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TestRoleId">Edit</a> |
                <a asp-page="/Results/ByRole" asp-route-testid="@item.TestId" asp-route-roleid="@item.RoleId">Test results</a> |
                <a asp-page="./Delete" asp-route-id="@item.TestRoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
